<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.justdoit.miyamoto">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.LoginFormActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Pasilist.PasilistActivity" />
        <activity android:name=".activity.WishListActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".activity.MatchingCompleteActivity" />
        <activity android:name=".activity.PaisluActivity"/>
        <activity android:name=".activity.TabActivity"/>
    </application>

</manifest>