{
  "development": {
    "username": "root",
    "password": "miyamoto3",
    "database": "miyamoto_dev",
    "host": "mysql",
    "dialect": "mysql"
  },
  "test": {
    "username": "root",
    "password": null,
    "database": "miyamoto_test",
    "host": "127.0.0.1",
    "dialect": "mysql"
  },
  "production": {
    "username": "root",
    "password": miyamoto3,
    "database": "miyamoto",
    "host": "127.0.0.1",
    "dialect": "mysql"
  }
}
